<p>frontpage works!</p>
<div class="card" style="width: 18rem;">
    <div class="card-header">
      Symbiosis College
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" >Batch</li>
      <li class="list-group-item" >Trainer</li>
      <li class="list-group-item" >Courses</li>
      <li class="list-group-item" routerLink="/list_topic">topic </li>
      <li class="list-group-item" routerLink="/list">Sub topic</li>
      
    </ul>
  </div>
<br>
<hr>
<br>
<div class="card" style="width: 18rem;">
    <div class="card-header">
      Sub Topic
    </div>
    <ul class="list-group list-group-flush">
    
      <li class="list-group-item">A second item</li>
    </ul>
  </div>
