<br>
<br>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Topic List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striprd">
           <thead>
                <tr>
                    <th>Topic-Id</th>
                    <th>Topic-Name</th>
                    <th>Topic-Hour</th>
                </tr>
           </thead>
           <tbody>
            <tr *ngFor="let t of topic | async">
                <td>{{t.tid}}</td>
                <td>{{t.tname}}</td>
                <td>{{t.thours}}</td>

                <td>
                    <button (click)="navigateToSubtopics(t.tid)" class="btn btn-info" style="margin-left: 10px;">View Subtopic</button>
                </td>

               <!-- <td>
                    <button (click)="deletePlayer(p.playerId)" class="btn btn-danger">Delete</button>
                    <button (click)="playerDetails(p.playerId)" class="btn btn-info" style="margin-left: 10px;">Details</button>
                    <button (click)="updateDetails(p.playerId)" class="btn btn-info" style="margin-left: 10px;">Edit</button>
                </td>-->
            </tr> 

           </tbody>
        </table>
    </div>
</div>
